@use '../../foundaton/variables' as *;
@use '../../foundaton/mixins' as *;

/* ==================================================================== 
  pie chart
  =================================================================== */
  @keyframes pie {
    100% {
      stroke-dashoffset: 1568.5;
    }
  }

/* ==================================================================== 
  line chart
  =================================================================== */
$line-chart-width-array: (420.23, 410.45, 386.02, 371.36, 283.41, 258.98, 254.09, 254.09, 215, 205.23, 185.68, 180.8, 131.93, 131.93, 117.27);
$i: 1;
@each $width in $line-chart-width-array {
  @keyframes grow#{$i} {
    to {
      width: #{$width}px;
    }
  }
  $i: $i + 1;
}

/* ==================================================================== 
  popup animation
  =================================================================== */
@keyframes popup {
  0% {
    transform: scale(1);
  }

  50% {
    opacity: 1;
    visibility: visible;
    transform: scale(1.1);
  }
  
  100% {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
  }
}

/* ==================================================================== 
  Loop animation
  =================================================================== */
@keyframes infinity-scroll-right {
  from {
    transform: translateX(0%);
  }
    to {
    transform: translateX(100%);
  }
}